*{
    margin:0px;
    box-sizing: border-box;
}

@font-face {
    font-family: archivoRegular;
    src: url(./fonts/archivo/archivo.regular.ttf);
}
@font-face {
    font-family: swiss721_Bold;
    src: url(./fonts/swiss_721/Swiss\ 721\ Bold.otf);
}
@font-face {
    font-family: swiss721_Normal;
    src: url(./fonts/swiss_721/Swiss\ 721\ Medium.otf);
}

@font-face {
    font-family: swiss721_Italic;
    src: url(./fonts/swiss_721/Swiss\ 721\ Italic.otf);
}